
my_credentials.py
.DS_Store
.ipynb_checkpoints
*/*.ipynb_checkpoints/*
.ipynb_checkpoints/SoundtrackEmotionArcs-checkpoint.ipynb
__pycache__/*
*/*.docx
.ipynb_checkpoints/SoundtrackEmotionArcs-checkpoint.ipynb
test_notebooks/*
